/* NX = not expanded */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins','Segoe UI','Verdana',sans-serif;
}

:root {
	--marron-sidebar: rgb(83, 62, 42);
	--sidebar-scroll: rgba(83, 62, 42, 0.555);
	--sidebar-scroll-hover: rgba(46, 34, 23);
}

.side-nav-container {
	background-color: var(--marron-sidebar);
	width: 300px;
	position: fixed;
	height: 100vh;
	color: var(--light);

	transition: 0.4s;
}
.side-nav-container-NX {
	width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
	/* border: 2px solid white; */
	display: grid;
}

.nav-heading {
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	height: 75px;
}

.nav-brand {
	display: flex;
	color: var(--light);
}
.nav-brand img {
	width: 40px;
	padding: 0 10px;
}

.hamburger {
	background: none;
	border: none;
	cursor: pointer;
	margin: auto;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: var(--light);
	border-radius: 15px;
	height: 5px;
	width: 35px;

	transition: 0.4s;
}

.hamburger:hover span {
	background-color: var(--primary);
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
	transform: translateY(4px) rotate(-25deg);
}
.hamburger-in:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-in:hover span:nth-child(3) {
	width: 25px;
	transform: translateY(-4px) rotate(25deg);
}
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */
.hamburger-out {
	margin-left: 24px;
}
.hamburger-out:hover span:nth-child(1) {
	width: 25px;
	transform: translate(14px, 4px) rotate(-155deg);
}
.hamburger-out:hover span:nth-child(2) {
	width: 40px;
}
.hamburger-out:hover span:nth-child(3) {
	width: 25px;
	transform: translate(14px, -4px) rotate(155deg);
}

.nav-menu {
	grid-template-rows: repeat(7, 1fr);
	margin-top: 30px;
	height: 70vh;
	overflow-y: scroll;
}

.nav-menu::-webkit-scrollbar {
	-webkit-appearance:sliderthumb-vertical;
	background: rgba(46, 34, 23, 0.342);
	border-radius: 4px;
}
.nav-menu::-webkit-scrollbar:vertical {
	width: 7px;
}
.nav-menu::-webkit-scrollbar-thumb {
	background: rgb(46, 34, 23);
	border-radius: 4px;
}
.nav-menu::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.24);
}

.menu-item {
	height: 57px;
	display: flex;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	margin: auto 20px;
	border-radius: 10px;
}

.menu-item-NX {
	margin: auto;
}
.menu-item:hover {
	background-color: var(--primary);
}
.menu-item img {
	width: 25px;
	padding: 0 20px;
}

.nav-footer {
	width: 100%;
	height: 87px;
	position: absolute;
	bottom: 0px;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	background-color: var(--marron-sidebar);
}

.nav-details {
	display: flex;
}
.nav-details img {
	width: 50px;
	padding: 0 20px;
}

.nav-footer-user-name {
	font-size: 16px;
	font-weight: 700;
}

.nav-footer-user-position {
	margin-top: -15px;
	color: var(--gray);
}

.logout-icon {
	width: 30px;
	margin: auto;
	border-radius: 90px;
	padding: 10px;
	margin-left: 10px;
}

.logout-icon:hover {
	background-color: var(--primary);
}
